In [1]:
import sys
import os
import glob
from lxml import etree
import pandas as pd
import numpy as np

In [2]:
sys.path.append(os.path.abspath("./../"))

In [3]:
from fachreferats_functions import check_duplicates, extract_data, clean_data

# Import Data

In [5]:
books_donated_1 = pd.read_excel("./../../data/input/Spenden_Beispiele.xlsx").dropna(how='all', axis=1)

In [6]:
books_donated_1

,Titel,Vorname_Autor,Nachname_Autor,Erscheinungsjahr,ISBN,Erscheinungsort,Verlag
0,The picture of Dorian Gray,Oscar,Wilde,1994,978-014-06-2322-2,NaN,NaN
1,Gustav Klimt,NaN,NaN,2008,978-140-27-5920-8,NaN,NaN
2,La familia de Pascual Duarte,Camilo José,Cela,2009,978-842-33-3904-4,NaN,NaN
3,Auf der Eidechsburg,Ilse-Dore,Tanner,1938?,NaN,Leipzig,A. H. Payne
4,Bayerisches Kochbuch,Maria,Hofmann,1950,NaN,München,Birken
5,Centenaire de l‘Impressionisme,NaN,NaN,1974,NaN,Paris,Musées nationaux
6,Les parents terribles,Jean,Cocteau,1938,NaN,Paris,Gallimard
7,Straightforward Statistics,James D.,Evans,1996,NaN,Pacific Grove,Brooks/Cole

In [7]:
books_donated_1["ISBN"].dtypes

dtype('O')

In [12]:
books_donated_2 = pd.read_excel("./../../data/input/Spenden_mistakes.xlsx").dropna(how='all', axis=1)

In [13]:
books_donated_2

,titel,Vorname_Autor,Nachname_Autor,Erscheinungsjahr,ISBN,Erscheinungsort,Verlag
0,The picture of Dorian Gray,Oscar,Wilde,1994,'978-0140623222,NaN,NaN
1,Gustav Klimt,NaN,NaN,2008,978-1402759208,NaN,NaN
2,La familia de Pascual Duarte,Camilo José,Cela,2009,978 8423339044,NaN,NaN
3,Auf der Eidechsburg,Ilse-Dore,Tanner,1938?,NaN,Leipzig,A. H. Payne
4,Bayerisches Kochbuch,Maria,Hofmann,1950,NaN,München,Birken
5,Centenaire de l‘Impressionisme,NaN,NaN,1974,NaN,Paris,Musées nationaux
6,Les parents terribles,Jean,Cocteau,1938,NaN,Paris,Gallimard
7,Straightforward Statistics,James D.,Evans,1996,NaN,Pacific Grove,Brooks/Cole

In [15]:
books_donated_2[" ISBN"].dtypes

dtype('O')

In [16]:
books_donated_3 = pd.read_excel("./../../data/input/Spenden_only_isbn.xlsx").dropna(how='all', axis=1)

In [17]:
books_donated_3

,Titel,Vorname_Autor,Nachname_Autor,Erscheinungsjahr,ISBN
0,The picture of Dorian Gray,Oscar,Wilde,1994,9780140623222
1,Gustav Klimt,NaN,NaN,2008,9781402759208
2,La familia de Pascual Duarte,Camilo José,Cela,2009,9788423339044

In [18]:
books_donated_3["ISBN"].dtypes

dtype('int64')

# Cleaning Data

In [19]:
books_donated_1 = clean_data.clean_data(books_donated_1)

In [20]:
books_donated_1

,Titel,Vorname_Autor,Nachname_Autor,Erscheinungsjahr,ISBN,Erscheinungsort,Verlag
0,The picture of Dorian Gray,Oscar,Wilde,1994,9780140623222,NaN,NaN
1,Gustav Klimt,,,2008,9781402759208,NaN,NaN
2,La familia de Pascual Duarte,Camilo José,Cela,2009,9788423339044,NaN,NaN
3,Auf der Eidechsburg,Ilse-Dore,Tanner,1938?,,Leipzig,A. H. Payne
4,Bayerisches Kochbuch,Maria,Hofmann,1950,,München,Birken
5,Centenaire de l‘Impressionisme,,,1974,,Paris,Musées nationaux
6,Les parents terribles,Jean,Cocteau,1938,,Paris,Gallimard
7,Straightforward Statistics,James D.,Evans,1996,,Pacific Grove,Brooks/Cole

In [21]:
books_donated_2 = clean_data.clean_data(books_donated_2)

One column has whitespace before or after the name of the column. This white space is going to be deleted.
Deleting white space in ' ISBN'
The column  Titel  is mandatory but missing in the table. We are going to try to find another one in the table that contains this information, but perhaps this creates errors!
Replacing  titel  with  Titel

In [22]:
books_donated_2

,Titel,Vorname_Autor,Nachname_Autor,Erscheinungsjahr,ISBN,Erscheinungsort,Verlag
0,The picture of Dorian Gray,Oscar,Wilde,1994,9780140623222,NaN,NaN
1,Gustav Klimt,,,2008,9781402759208,NaN,NaN
2,La familia de Pascual Duarte,Camilo José,Cela,2009,9788423339044,NaN,NaN
3,Auf der Eidechsburg,Ilse-Dore,Tanner,1938?,,Leipzig,A. H. Payne
4,Bayerisches Kochbuch,Maria,Hofmann,1950,,München,Birken
5,Centenaire de l‘Impressionisme,,,1974,,Paris,Musées nationaux
6,Les parents terribles,Jean,Cocteau,1938,,Paris,Gallimard
7,Straightforward Statistics,James D.,Evans,1996,,Pacific Grove,Brooks/Cole

In [23]:
books_donated_3 = clean_data.clean_data(books_donated_3)

Changing ISBN type from int to str

In [24]:
books_donated_3

,Titel,Vorname_Autor,Nachname_Autor,Erscheinungsjahr,ISBN
0,The picture of Dorian Gray,Oscar,Wilde,1994,9780140623222
1,Gustav Klimt,,,2008,9781402759208
2,La familia de Pascual Duarte,Camilo José,Cela,2009,9788423339044